<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-android-adup" version="1.1.2"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>AdupAD</name>
    <description>Cordova Plugin for Android,a JS version of AdUp SDK</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/Dataming88/cordova-plugin-android-adup.git</repo>
    <issue>https://github.com/Dataming88/cordova-plugin-android-adup/issues</issue>

    <!-- android -->
    <platform name="android">
        <js-module name="plugin" src="www/plugin.js">
            <runs />
            <clobbers target="adupAd" />
        </js-module>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AdupAd">
                <param name="android-package" value="com.adup.AdManger" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.GET_TASKS" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <uses-library android:name="org.apache.http.legacy" android:required="false"/>
            <meta-data tools:replace="android:value" android:name="hw_ads_sdk_type" android:value="6" />
            <provider
                android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
                android:authorities="$PACKAGE_NAME.TTMultiProvider"
                android:exported="false" />
            <provider
                android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
                android:authorities="$PACKAGE_NAME.TTFileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/anythink_bk_tt_file_path" />
            </provider>
            <provider
                android:name="com.qq.e.comm.GDTFileProvider"
                android:authorities="$PACKAGE_NAME.gdt.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/anythink_bk_gdt_file_path" />
            </provider>
        </config-file>

        <source-file src="src/android/com/adup/AdManger.java" target-dir="src/com/adup"/>
        <resource-file src="src/android/libs/" target="libs"/>
        <resource-file src="src/android/res/xml/network_security_config.xml"
            target="res/xml/network_security_config.xml" />
        <resource-file src="src/android/res/xml/anythink_bk_gdt_file_path.xml"
            target="res/xml/anythink_bk_gdt_file_path.xml" />
        <resource-file src="src/android/res/xml/anythink_bk_tt_file_path.xml"
            target="res/xml/anythink_bk_tt_file_path.xml" />
        <framework src="android-build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
